.quarto-title, #hyvor-talk-view {
    display: none;
}

body{
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 139L60 139L60 169L120 169L120 199L180 199L180 217L240 217L240 133L300 133L300 181L360 181L360 199L420 199L420 235L480 235L480 181L540 181L540 151L600 151L600 187L660 187L660 127L720 127L720 127L780 127L780 199L840 199L840 133L900 133L900 169L900 0L900 0L840 0L840 0L780 0L780 0L720 0L720 0L660 0L660 0L600 0L600 0L540 0L540 0L480 0L480 0L420 0L420 0L360 0L360 0L300 0L300 0L240 0L240 0L180 0L180 0L120 0L120 0L60 0L60 0L0 0Z' fill='%23ffffff'%3E%3C/path%3E%3Cpath d='M0 217L60 217L60 229L120 229L120 307L180 307L180 289L240 289L240 229L300 229L300 277L360 277L360 265L420 265L420 295L480 295L480 247L540 247L540 241L600 241L600 265L660 265L660 205L720 205L720 199L780 199L780 283L840 283L840 241L900 241L900 271L900 167L900 131L840 131L840 197L780 197L780 125L720 125L720 125L660 125L660 185L600 185L600 149L540 149L540 179L480 179L480 233L420 233L420 197L360 197L360 179L300 179L300 131L240 131L240 215L180 215L180 197L120 197L120 167L60 167L60 137L0 137Z' fill='%23f8fbf8'%3E%3C/path%3E%3Cpath d='M0 403L60 403L60 445L120 445L120 433L180 433L180 451L240 451L240 409L300 409L300 409L360 409L360 421L420 421L420 433L480 433L480 445L540 445L540 409L600 409L600 415L660 415L660 433L720 433L720 397L780 397L780 415L840 415L840 421L900 421L900 445L900 269L900 239L840 239L840 281L780 281L780 197L720 197L720 203L660 203L660 263L600 263L600 239L540 239L540 245L480 245L480 293L420 293L420 263L360 263L360 275L300 275L300 227L240 227L240 287L180 287L180 305L120 305L120 227L60 227L60 215L0 215Z' fill='%23f2f7f2'%3E%3C/path%3E%3Cpath d='M0 457L60 457L60 511L120 511L120 505L180 505L180 505L240 505L240 487L300 487L300 463L360 463L360 481L420 481L420 505L480 505L480 493L540 493L540 463L600 463L600 493L660 493L660 487L720 487L720 475L780 475L780 487L840 487L840 493L900 493L900 535L900 443L900 419L840 419L840 413L780 413L780 395L720 395L720 431L660 431L660 413L600 413L600 407L540 407L540 443L480 443L480 431L420 431L420 419L360 419L360 407L300 407L300 407L240 407L240 449L180 449L180 431L120 431L120 443L60 443L60 401L0 401Z' fill='%23ebf3eb'%3E%3C/path%3E%3Cpath d='M0 601L60 601L60 601L120 601L120 601L180 601L180 601L240 601L240 601L300 601L300 601L360 601L360 601L420 601L420 601L480 601L480 601L540 601L540 601L600 601L600 601L660 601L660 601L720 601L720 601L780 601L780 601L840 601L840 601L900 601L900 601L900 533L900 491L840 491L840 485L780 485L780 473L720 473L720 485L660 485L660 491L600 491L600 461L540 461L540 491L480 491L480 503L420 503L420 479L360 479L360 461L300 461L300 485L240 485L240 503L180 503L180 503L120 503L120 509L60 509L60 455L0 455Z' fill='%23e5efe5'%3E%3C/path%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.csl-entry{
    margin-bottom:25px !important;
    margin-left: 0px;
}

.hanging-indent{
    text-indent: 0px !important;
    margin-left: 0px !important;
}

h1{
    font-family: 'amsterdamkingdom';
    margin-bottom: 25px;
}  

.modal-content h1{  
    font-size: 42px;
}

.table>:not(:first-child), .table>tbody{
    border-top: 0px !important;
}

td img{
    border-radius: 50%;
}