.quarto-title{
    display: none;
}

body{    
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23FFFFFF'%3E%3C/rect%3E%3Cpath d='M0 542L10.7 536C21.3 530 42.7 518 64.2 519.2C85.7 520.3 107.3 534.7 128.8 542.7C150.3 550.7 171.7 552.3 193 536.8C214.3 521.3 235.7 488.7 257 483.3C278.3 478 299.7 500 321.2 500.2C342.7 500.3 364.3 478.7 385.8 481.3C407.3 484 428.7 511 450 516.3C471.3 521.7 492.7 505.3 514.2 501.2C535.7 497 557.3 505 578.8 502.8C600.3 500.7 621.7 488.3 643 487.2C664.3 486 685.7 496 707 506.5C728.3 517 749.7 528 771.2 532.3C792.7 536.7 814.3 534.3 835.8 533.5C857.3 532.7 878.7 533.3 889.3 533.7L900 534L900 601L889.3 601C878.7 601 857.3 601 835.8 601C814.3 601 792.7 601 771.2 601C749.7 601 728.3 601 707 601C685.7 601 664.3 601 643 601C621.7 601 600.3 601 578.8 601C557.3 601 535.7 601 514.2 601C492.7 601 471.3 601 450 601C428.7 601 407.3 601 385.8 601C364.3 601 342.7 601 321.2 601C299.7 601 278.3 601 257 601C235.7 601 214.3 601 193 601C171.7 601 150.3 601 128.8 601C107.3 601 85.7 601 64.2 601C42.7 601 21.3 601 10.7 601L0 601Z' fill='%23fafafa'%3E%3C/path%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'amsterdamkingdom';
}

#hyvor-talk-view{
    display: none;
}

