@font-face {
    font-family: heliotrope_3;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/heliotrope_3_regular.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_3;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/heliotrope_3_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_3;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/heliotrope_3_bold.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_3;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/heliotrope_3_bold_italic.woff2') format('woff2');
}


@font-face {
    font-family: amsterdamkingdom;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/AmsterdamKindom.woff') format('woff2');
}


@font-face {
    font-family: amsterdamkingdomitalic;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/AmsterdamKindom-Italic.woff') format('woff2');
}

@font-face {
    font-family: amsterdam;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/amsterdam-webfont.woff2') format('woff2');
}

@font-face {
    font-family: amsterdam2;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/amsterdam_variation_2-webfont.woff2') format('woff2');
}

@font-face {
    font-family: amsterdam3;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/amsterdam_variation_3-webfont.woff2') format('woff2');
}

@font-face {
    font-family: amsterdam1;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/amsterdam_variation_1-webfont.woff2') format('woff2');
}



@font-face {
    font-family: axelords;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/Axelords.woff2') format('woff2');
}


@font-face {
    font-family: romttar;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../fonts/Romttar.woff2') format('woff2');
}
