.quarto-title{
    display: none;
}

body{    
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23FFFFFF'%3E%3C/rect%3E%3Cpath d='M643 600L622 578L727 556L674 533L751 511L708 489L567 467L628 444L694 422L686 400L714 378L620 356L654 333L769 311L656 289L586 267L730 244L706 222L711 200L659 178L690 156L730 133L587 111L643 89L765 67L576 44L647 22L630 0' fill='none' stroke-linecap='square' stroke-linejoin='bevel' stroke='%23fdfbff' stroke-width='99'%3E%3C/path%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'amsterdamkingdom' !important;
}

#hyvor-talk-view{
    display: none;
}

.even{
    border-top: 0px;
}

