project:
  type: website
  preview:
    port: 7777
  
website:
  title: "Neeldhara"
  site-url: https://www.neeldhara.com
  navbar:
    background: white
    pinned: false
    right:
      - icon: youtube
        href: https://www.youtube.com/c/NeeldharaMisra42
      - icon: linkedin
        href: https://www.linkedin.com/in/neeldhara-misra-a54b6920/
      - icon: github
        href: https://github.com/neeldhara
      - icon: mastodon
        href: https://mathstodon.xyz/@neeldhara
      - icon: rss
        href: blog.xml
    left:
      - href: about.qmd
        text: About
      - text: Research
        menu:
          - text: Overview
            href: research/overview.qmd
          - text: People
            href: research/people.qmd
          - text: Publications
            href: research/publications.qmd
          - text: Surveys
            href: research/surveys
      - text: Teaching
        menu:
          - text: Courses
            href: ./courses/index.qmd
          - text: Materials
            href: ./materials/index.qmd
      - text: Lists
        menu:
          - text: Puzzles
            href: tgif/
          - text: Bookmarks
            href: bookmarks/
      - text: Exposition
        menu:
          - text: Talks
            href: talks/
          - text: Videos
            href: videos/
      - href: events/
        text: Events
      - href: blog.qmd
        text: Blog
  sidebar:
      - id: dsanotes
        style: docked
        search: true
        contents: materials/dsanotes/
        sort: order
      - id: algonotes
        style: docked
        search: true
        contents: materials/algorithms
        sort: order
      - id: cpnotes
        search: true
        style: docked
        contents: materials/cpnotes/
        sort: order
      - id: games
        search: true
        style: docked
        contents: materials/games/
        sort: order

format:
  html:
    theme: 
      - simplex
      - custom.scss
    js: scripts.js
    css: css/styles.css
    toc: true
    html-math-method: katex
    smooth-scroll: true
    anchor-sections: true
    include-in-header: analytics.html
    include-after-body: footer.html
    page-layout: full
    filters:
      - abstract-section

